<link rel="stylesheet" href="~/css/inicio.css" />

@{
    ViewData["Title"] = "Home Page";
}
@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}


<div class="container">

    <div style="align-self:center; padding-top:280px; overflow:hidden">

        <img class="img-responsive" src="~/images/LogoConLeyenda.png" style="float:left"/>

        <h1 style="float:left; padding-top:25px">Bienvenido al sistema de administracion de Envios Srl</h1>

    </div>
    
</div>


@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }


    window.onload = launch_toast;

</script>
