@model Usuario
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }

    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: lightgray;
    display: block;
    transition: 0.3s;
    }

        .sidenav a:hover {
            color: black;
            background-color: #FF7F50;
        }

    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

    #main {
    transition: margin-left .5s;
    padding: 16px;
    }

    @@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
</style>
</head>
<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a asp-area="" asp-controller="Usuarios" asp-action="ModificarContrasenia">Modificar User/Pass</a>
        <a asp-controller="Usuarios" asp-action="ModificarEmail">Modificar Email de Contacto</a>
    </div>

    @{
        if (Model != null)
        {

            <a asp-area="" asp-controller="Usuarios" asp-action="Logout">Logout</a>
            
            <span style="font-size:30px;cursor:pointer;color:orangered;font-size:30px" onclick="openNav()">&#9776;&nbsp;&nbsp;</span>

        }
        else
        {
            <a class="btn-link" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
        }
    }

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>


</body>
</html >
