@model Usuario

@{
    if (Model != null)
    {
        <form asp-controller="Usuarios" asp-action="Logout" method="post" class="btn-link">
            <div>
                <input type="submit" value="Logout" class="btn-link" />
            </div>
        </form>
        @Html.ActionLink("Modificar Nombre de Usuario y/o Contraseña", "ModificarContrasenia", "Usuarios");

    }
    else
    {
        <a class="btn-link" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
    }
}
