
@{
    ViewData["Title"] = "Balances";
}

<h2 class="container">Balances</h2>

<p></p>
<p></p>
<p></p>

@{
    string mensaje = "";

    if (TempData["Mensaje"] != null)
    {
        mensaje = TempData["Mensaje"].ToString();
    }

}

<hr />
<h3 class="container">Seleccione balance a generar:</h3>

<div class="container">
    <div class="form-group">
        <div class="col-md-4">
            <button id="Anual" type="button" class="btn btn-toolbar" style="float:left; margin-right:50px">Balance Anual</button>
        </div>
        <div>
            <button id="Mensual" type="button" class="btn btn-toolbar" style="float:left">Balance Mensual</button>
        </div>
        <br />
        <br />
        <br />
        <div id="formAnual" style="display:none;">
            @using (Html.BeginForm("ConsultarBalanceAnual", "Balances", FormMethod.Post))
        {
            <label>Fecha Desde</label>
            <input type="date" name="fDesde" id="fDesde" />
            <label>Fecha Hasta</label>
            <input type="date" name="fHasta" id="fHasta" />
            <input type="submit" class="btn btn-primary" value="Generar Anual" />
    }
        </div>
        <div id="formMensual" style="display:none;">
            @using (Html.BeginForm("ConsultarBalanceMensual", "Balances", FormMethod.Post))
        {
            <label>Mes</label>
            <input type="text" name="mes" id="mes" />
            <label>Año</label>
            <input type="number" name="anio" id="anio" />
            <input type="submit" class="btn btn-primary" value="Generar Mensual" />
    }
        </div>
    </div>

    
</div>

<div class="container">
    <a asp-action="Index" asp-controller="Home">Volver</a>
</div>



<script language="javascript">

    document.getElementById("Anual").onclick = function () {
        document.getElementById("formMensual").style.display = "none";
        if (document.getElementById("formAnual").style.display === "none") {
            document.getElementById("formAnual").style.display = "block";
        } else {
            document.getElementById("formAnual").style.display = "none";

        }
    }

    document.getElementById("Mensual").onclick = function () {
        document.getElementById("formAnual").style.display = "none"
        if (document.getElementById("formMensual").style.display === "none") {
            document.getElementById("formMensual").style.display = "block";
        } else {
            document.getElementById("formMensual").style.display = "none";

        }
    }

</script>@{
    if (mensaje != "")
    {
        if (mensaje.ToLower().Contains("exito"))
        {
            <div id="toast"><div id="img">&#9989;</div><div id="desc">@mensaje</div></div>
        }
        else if (mensaje.ToLower().Contains("error") || mensaje.ToLower().Contains("invalid") || mensaje.ToLower().Contains("incorrecto"))
        {
            <div id="toast"><div id="img">&#10060;</div><div id="desc">@mensaje</div></div>
        }
        else
        {
            <div id="toast"><div id="img">&#10069;</div><div id="desc">@mensaje</div></div>
        }

    }

}

<script>

    function launch_toast() {
        var x = document.getElementById("toast")
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }


    window.onload = launch_toast;


</script>
