
@{
    ViewData["Title"] = "IniciarReclamo";
}

<h2 class="container">Iniciar Reclamo</h2>
<div class="container">
    @using (Html.BeginForm("IniciarReclamo", "Paquetes"))
    {
        <div class="form-group">
            <label>Ingrese aqui el Numero de Referencia del Paquete</label>
            <input type="text" name="numReferencia" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Iniciar Reclamo</button>
        </div>

    }

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn-group-xs">Volver</a>
    </div>

</div>
