@model EntidadesCompartidasCore.Ingreso

@{
    ViewData["Title"] = "RegistrarIngreso";
}

@{
    var listItemsCliente = ViewBag.Clientes;
}

<h2>Registrar Ingreso</h2>

<hr />
<div class="container">
    <div class="col-md-4">
        <form asp-action="RegistrarIngreso">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" value="0" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suma" class="control-label"></label>
                <input asp-for="Suma" class="form-control" />
                <span asp-validation-for="Suma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaRegistro" class="control-label"></label>
                <input asp-for="fechaRegistro" class="form-control" />
                <span asp-validation-for="fechaRegistro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Extra" id="extra" /> @Html.DisplayNameFor(model => model.Extra)
                    </label>
                </div>
            </div>
            <div class="form-group" id="campoRut">
                <label>Seleccione el Cliente</label>
                @Html.DropDownList("cliente", new SelectList(listItemsCliente, "Value", "Text"))
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>

    <a asp-action="Index">Volver</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#extra').change(function () {
            if (this.checked) {
                $("#campoRut").hide();
            } else {
                $("#campoRut").show();
            }
        })
    });
</script>
