@model Usuario
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/inicio.css" />
</head>
<body>

    @{
        if (Model != null)
        {
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closePan()">×</a>
        <img src="~/images/UsuarioAzul.png" class="img-responsive" style="max-height:46px;max-width:46px; float:left;" />
        <a asp-area="" asp-controller="Usuarios" asp-action="Logout" style="float:left">Logout</a>
        <a asp-area="" asp-controller="Usuarios" asp-action="ModificarContrasenia" style="float:left;">Modificar User/Pass</a>
        <a asp-controller="Usuarios" asp-action="ModificarEmail" style="float:left">Modificar Email de Contacto</a>
    </div>

            <button class="openbtn" onclick="openPan()" style="background-color:#333; padding:0;margin:0"><img src="~/images/UsuarioAzul.png" style="max-height:46px;max-width:46px" /></button>
        }
    }

    <script>
        function openPan() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closePan() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>

</body>
</html>
