
@model String

@{
    ViewData["Title"] = "DefinicionContraseña";
}

<h2 class="container">Definir Nueva Contraseña</h2>

<div class="container">

    @using (Html.BeginForm("DefinicionContraseñaPost", "Usuarios"))
    {
        <div class="form-group">
            <label>Mail solicitante</label>
            <input type="text" name="email" class="form-control" value=@ViewBag.Email readonly />
            <br />
        </div>
        <div class="form-group">
            <label>Ingrese su nueva contraseña</label>
            <input type="text" name="contraseña" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Modificar Contraseña</button>
        </div>
    }

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancelar</a>
    </div>


</div>


@*<div class="row">
        <div class="col-md-4">
            <form asp-action="DefinicionContraseñaPost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Mail solicitante</label>
                    <input id="email" asp-for="ToString" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Ingrese su nueva Contraseña</label>
                    <input id="contraseña" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Recuperar Contraseña" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

