@model string

@{
    ViewData["Title"] = "Definir Nueva Contraseña";
}

<h2>Definir Nueva Contraseña</h2>

<h4>Datos de nueva contraseña</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DefinicionContraseñaPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Mail solicitante</label>
                <input id="email" asp-for="ToString" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Ingrese su nueva Contraseña</label>
                <input id="contraseña" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <input type="submit" value="Recuperar Contraseña" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
