
@model EntidadesCompartidasCore.Usuario

@{
    ViewData["Title"] = "Login";
}

<p></p>
<p></p>
<p></p>

<div>
    @{
        var mensaje = @ViewBag.Message;

        if (mensaje != null && mensaje != "")
        {

            <h3 class="text-danger">@mensaje</h3>

        }

    }

    <h2>Login</h2>

    <hr />
    <div class="form-group">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input asp-for="NombreUsuario" class="form-control"/>
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" asp-for="Contraseña" class="form-control" />
                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    @{
        if (ViewBag.Logueado == false)
        {
            <div>
                <a asp-action="RecuperarContraseña">¿Olvidastes tu Contraseña?</a>
            </div>
        }
    }

    <div>
        <a asp-action="Index">Volver al inicio</a>
    </div>

</div>