@model string

@{
    ViewData["Title"] = "RecuperarContraseña";
}

<h2 class="container">Recuperar Contraseña</h2>

<div class="container">
    @using (Html.BeginForm("RecuperarContraseña", "Usuarios"))
    {
        <div class="form-group">
            <label>Ingrese su eMail de contacto</label>
            <input type="text" name="email" class="form-control" />
            <br />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Solicitar</button>
        </div>
    }

        <div>
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancelar</a>
        </div>

</div>
